#calendar * {
    box-sizing                 : border-box;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select           : none;
    -webkit-user-select        : none;
    -ms-user-select            : none;
    -khtml-user-select         : none;
    user-select                : none;
}

#calendar ul {
    margin      : 0;
    padding-left: 0;
}

#calendar li {
    list-style: none;
}

#calendar {
    min-width: 320px;
}

.calendar-header {
    position        : relative;
    color           : #fff;
    background-color: #232323;
}

.month-switch {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 40px;
    padding        : 0 20px;
}

.date {
    position  : absolute;
    left      : 0;
    right     : 0;
    z-index   : 0;
    margin    : 0 30%;
    text-align: center;
}

.prev,
.next {
    width       : 12px;
    height      : 12px;
    border-top  : 1px solid #fff;
    border-right: 1px solid #fff;
    cursor      : pointer;
}

.prev {
    transform: rotate(-135deg);
}

.next {
    transform: rotate(45deg);
}

.calendar-content {
    background-color: #fff;
}

.week {
    display: flex;
    padding: 10px 0;
}

.week li {
    flex      : 1;
    text-align: center;
}

.month {
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 0;
}

.month li {
    width        : 14.28%;
    margin-bottom: 10px;
    text-align   : center;
}

.month span {
    display      : inline-block;
    width        : 40px;
    height       : 40px;
    line-height  : 40px;
    border-radius: 50%;
    text-align   : center;
    cursor       : pointer;
}

.choose-day span {
    color           : #fff;
    background-color: #232323 !important;
}


.future-day,
.other-month-day {
    opacity: .3;
}

.start-marker {
    border-top-left-radius   : 20px;
    border-bottom-left-radius: 20px;
}

.end-marker {
    border-top-right-radius   : 20px;
    border-bottom-right-radius: 20px;
}